.header {
    background-color: beige;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.container {
    background-color: aquamarine;
    height: 20rem;
    padding: 1rem;

}

.footer {
    background-color: beige;
    display: flex;
    justify-content: center;
    padding: 1rem;

}